section{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    width: 100%;
   
}
section ul li{
    padding: 20px 20px;
    list-style: none;
}


/*add task group*/

.invisibleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.taskMenu{
   
    margin-top: 100px;
    background-color:rgba(202, 202, 202, 0.608);
    width: 900px;
    height: 500px;
    border-radius: 5px;
    max-height:50000px;
    overflow: auto;
  
    max-width: 1000px;
}
.taskGorup{
    
}
.taskMenu #noteInput{
flex: 0.9;
    margin-top: 5px;
    height: 35px;
    border-radius:10px;
    border: 1px solid rgba(0, 0, 0, 0.208);
  
    
    outline: none;
}
.taskMenu ul li{
    display: flex;
    justify-content: center;
  
  
    list-style: none;
}
.taskMenu #addTaskBtn{
    border: none;
    border-radius: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: -40px;
    font-size: 1.1rem;
    cursor: pointer;
   
 
    
}
.taskMenu #trashBtn{
    border: none;
    cursor: pointer;
    color: red;
}

.taskMenu #taskList li{
    padding: 2px;
    
}
.taskMenu #taskList li #calendar{
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.13);
}
.taskMenu #taskList li h1{
color: rgba(0, 0, 0, 0.708);
font-size: 1rem;
word-break: break-all;
white-space: wrap;
background-color: rgba(255, 255, 255, 0.26);
width: 59%;
text-align: start;
border-radius: 5px;
}
.taskMenu #removeALL{
    border: none;
    border-radius: 20px;
    height: 20px;
    padding: 0px 2px;
    margin-top: 12px;
   color: red;
    font-size: 1rem;
    cursor: pointer;
}
.taskMenu #category{
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.69);
}




/* end */

